#sky,
#explain
{
    display: block;
    margin: auto;
}

.hide
{
	display:none;
}

div#container
{
	text-align: center;
}
#info {
	height: 100px;
	overflow-y: scroll;
}
#canvas-holder{
	position: relative;
	margin: 0 auto;
	height: 800px;
	width: 100%;
	align-content: center;
	text-align: center;
}
#labels {
	position: absolute;
	z-index: 1;
	margin: 0 auto;

    left: 0;
    right: 0;
}

#cvs {
	position: absolute;
	z-index: 0;
	margin: 0 auto;

    left: 0;
    right: 0;

}

input {
	display: block;
	width: 50%;
}